RobotEdu-Client/.classpath
RobotEdu-Client/.project
RobotEdu-Client/.settings/
RobotEdu-Client/bin/
RobotEdu-Client/target/
RobotEdu-Client/.idea/
RobotEdu-Client/out/


RobotEdu-Server/.classpath
RobotEdu-Server/.project
RobotEdu-Server/.settings/
RobotEdu-Server/bin/
RobotEdu-Server/live-itrip-admin/target/
RobotEdu-Server/live-itrip-common/target/
RobotEdu-Server/.idea/
