<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="live.itrip.admin.dao.EduCustomerInfoMapper">
    <resultMap id="BaseResultMap" type="live.itrip.admin.model.EduCustomerInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="client_id" property="clientId" jdbcType="INTEGER"/>
        <result column="shop_no" property="shopNo" jdbcType="VARCHAR"/>
        <result column="adviser" property="adviser" jdbcType="VARCHAR"/>
        <result column="card_no" property="cardNo" jdbcType="VARCHAR"/>
        <result column="child_name" property="childName" jdbcType="VARCHAR"/>
        <result column="child_sex" property="childSex" jdbcType="CHAR"/>
        <result column="birthday" property="birthday" jdbcType="VARCHAR"/>
        <result column="child_image" property="childImage" jdbcType="VARCHAR"/>
        <result column="mom_name" property="momName" jdbcType="VARCHAR"/>
        <result column="mom_mobile" property="momMobile" jdbcType="VARCHAR"/>
        <result column="mom_email" property="momEmail" jdbcType="VARCHAR"/>
        <result column="dad_name" property="dadName" jdbcType="VARCHAR"/>
        <result column="dad_mobile" property="dadMobile" jdbcType="VARCHAR"/>
        <result column="dad_email" property="dadEmail" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="client_create_time" property="clientCreateTime" jdbcType="BIGINT"/>
        <result column="client_update_time" property="clientUpdateTime" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, client_id, shop_no, adviser, card_no, child_name, child_sex, birthday, child_image, 
    mom_name, mom_mobile, mom_email, dad_name, dad_mobile, dad_email, address, remarks, 
    client_create_time, client_update_time, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from edu_customer_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from edu_customer_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="live.itrip.admin.model.EduCustomerInfo">
    insert into edu_customer_info (id, client_id, shop_no, 
      adviser, card_no, child_name, 
      child_sex, birthday, child_image, 
      mom_name, mom_mobile, mom_email, 
      dad_name, dad_mobile, dad_email, 
      address, remarks, client_create_time, 
      client_update_time, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{clientId,jdbcType=INTEGER}, #{shopNo,jdbcType=VARCHAR}, 
      #{adviser,jdbcType=VARCHAR}, #{cardNo,jdbcType=VARCHAR}, #{childName,jdbcType=VARCHAR},
      #{childSex,jdbcType=CHAR}, #{birthday,jdbcType=VARCHAR}, #{childImage,jdbcType=VARCHAR}, 
      #{momName,jdbcType=VARCHAR}, #{momMobile,jdbcType=VARCHAR}, #{momEmail,jdbcType=VARCHAR}, 
      #{dadName,jdbcType=VARCHAR}, #{dadMobile,jdbcType=VARCHAR}, #{dadEmail,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{clientCreateTime,jdbcType=BIGINT}, 
      #{clientUpdateTime,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}
      )
  </insert>
    <insert id="insertSelective" parameterType="live.itrip.admin.model.EduCustomerInfo">
        insert into edu_customer_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="clientId != null">
                client_id,
            </if>
            <if test="shopNo != null">
                shop_no,
            </if>
            <if test="adviser != null">
                adviser,
            </if>
            <if test="cardNo != null">
                card_no,
            </if>
            <if test="childName != null">
                child_name,
            </if>
            <if test="childSex != null">
                child_sex,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="childImage != null">
                child_image,
            </if>
            <if test="momName != null">
                mom_name,
            </if>
            <if test="momMobile != null">
                mom_mobile,
            </if>
            <if test="momEmail != null">
                mom_email,
            </if>
            <if test="dadName != null">
                dad_name,
            </if>
            <if test="dadMobile != null">
                dad_mobile,
            </if>
            <if test="dadEmail != null">
                dad_email,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="clientCreateTime != null">
                client_create_time,
            </if>
            <if test="clientUpdateTime != null">
                client_update_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="clientId != null">
                #{clientId,jdbcType=INTEGER},
            </if>
            <if test="shopNo != null">
                #{shopNo,jdbcType=VARCHAR},
            </if>
            <if test="adviser != null">
                #{adviser,jdbcType=VARCHAR},
            </if>
            <if test="cardNo != null">
                #{cardNo,jdbcType=VARCHAR},
            </if>
            <if test="childName != null">
                #{childName,jdbcType=VARCHAR},
            </if>
            <if test="childSex != null">
                #{childSex,jdbcType=CHAR},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=VARCHAR},
            </if>
            <if test="childImage != null">
                #{childImage,jdbcType=VARCHAR},
            </if>
            <if test="momName != null">
                #{momName,jdbcType=VARCHAR},
            </if>
            <if test="momMobile != null">
                #{momMobile,jdbcType=VARCHAR},
            </if>
            <if test="momEmail != null">
                #{momEmail,jdbcType=VARCHAR},
            </if>
            <if test="dadName != null">
                #{dadName,jdbcType=VARCHAR},
            </if>
            <if test="dadMobile != null">
                #{dadMobile,jdbcType=VARCHAR},
            </if>
            <if test="dadEmail != null">
                #{dadEmail,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="clientCreateTime != null">
                #{clientCreateTime,jdbcType=BIGINT},
            </if>
            <if test="clientUpdateTime != null">
                #{clientUpdateTime,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="live.itrip.admin.model.EduCustomerInfo">
        update edu_customer_info
        <set>
            <if test="clientId != null">
                client_id = #{clientId,jdbcType=INTEGER},
            </if>
            <if test="shopNo != null">
                shop_no = #{shopNo,jdbcType=VARCHAR},
            </if>
            <if test="adviser != null">
                adviser = #{adviser,jdbcType=VARCHAR},
            </if>
            <if test="cardNo != null">
                card_no = #{cardNo,jdbcType=VARCHAR},
            </if>
            <if test="childName != null">
                child_name = #{childName,jdbcType=VARCHAR},
            </if>
            <if test="childSex != null">
                child_sex = #{childSex,jdbcType=CHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=VARCHAR},
            </if>
            <if test="childImage != null">
                child_image = #{childImage,jdbcType=VARCHAR},
            </if>
            <if test="momName != null">
                mom_name = #{momName,jdbcType=VARCHAR},
            </if>
            <if test="momMobile != null">
                mom_mobile = #{momMobile,jdbcType=VARCHAR},
            </if>
            <if test="momEmail != null">
                mom_email = #{momEmail,jdbcType=VARCHAR},
            </if>
            <if test="dadName != null">
                dad_name = #{dadName,jdbcType=VARCHAR},
            </if>
            <if test="dadMobile != null">
                dad_mobile = #{dadMobile,jdbcType=VARCHAR},
            </if>
            <if test="dadEmail != null">
                dad_email = #{dadEmail,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="clientCreateTime != null">
                client_create_time = #{clientCreateTime,jdbcType=BIGINT},
            </if>
            <if test="clientUpdateTime != null">
                client_update_time = #{clientUpdateTime,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="live.itrip.admin.model.EduCustomerInfo">
        update edu_customer_info
        set client_id = #{clientId,jdbcType=INTEGER},
          shop_no = #{shopNo,jdbcType=VARCHAR},
          adviser = #{adviser,jdbcType=VARCHAR},
          card_no = #{cardNo,jdbcType=VARCHAR},
          child_name = #{childName,jdbcType=VARCHAR},
          child_sex = #{childSex,jdbcType=CHAR},
          birthday = #{birthday,jdbcType=VARCHAR},
          child_image = #{childImage,jdbcType=VARCHAR},
          mom_name = #{momName,jdbcType=VARCHAR},
          mom_mobile = #{momMobile,jdbcType=VARCHAR},
          mom_email = #{momEmail,jdbcType=VARCHAR},
          dad_name = #{dadName,jdbcType=VARCHAR},
          dad_mobile = #{dadMobile,jdbcType=VARCHAR},
          dad_email = #{dadEmail,jdbcType=VARCHAR},
          address = #{address,jdbcType=VARCHAR},
          remarks = #{remarks,jdbcType=VARCHAR},
          client_create_time = #{clientCreateTime,jdbcType=BIGINT},
          client_update_time = #{clientUpdateTime,jdbcType=BIGINT},
          create_time = #{createTime,jdbcType=BIGINT},
          update_time = #{updateTime,jdbcType=BIGINT}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--自定义查询-->
    <update id="updateClientIdAndShopNo" parameterType="live.itrip.admin.model.EduCustomerInfo">
        update edu_customer_info
        set adviser = #{adviser,jdbcType=VARCHAR},
        child_name = #{childName,jdbcType=VARCHAR},
        child_sex = #{childSex,jdbcType=CHAR},
        birthday = #{birthday,jdbcType=VARCHAR},
        child_image = #{childImage,jdbcType=VARCHAR},
        mom_name = #{momName,jdbcType=VARCHAR},
        mom_mobile = #{momMobile,jdbcType=VARCHAR},
        mom_email = #{momEmail,jdbcType=VARCHAR},
        dad_name = #{dadName,jdbcType=VARCHAR},
        dad_mobile = #{dadMobile,jdbcType=VARCHAR},
        dad_email = #{dadEmail,jdbcType=VARCHAR},
        address = #{address,jdbcType=VARCHAR},
        remarks = #{remarks,jdbcType=VARCHAR},
        client_update_time = #{clientUpdateTime,jdbcType=BIGINT},
        update_time = #{updateTime,jdbcType=BIGINT}
        where client_id = #{clientId,jdbcType=INTEGER} AND shop_no = #{shopNo,jdbcType=VARCHAR}
    </update>

    <select id="countAll" resultType="int" parameterType="map">
        select count(id) from edu_customer_info WHERE TRUE

        <if test="shopNo != null and shopNo != '' ">
            AND shop_no = '${shopNo}'
        </if>
        <if test="customerName != null and customerName != '' ">
            AND child_name LIKE ${customerName}
        </if>

    </select>
    <select id="selectCustomerList" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from edu_customer_info WHERE TRUE

        <if test="shopNo != null and shopNo != '' ">
            AND shop_no = '${shopNo}'
        </if>
        <if test="customerName != null and customerName != '' ">
            AND child_name LIKE ${customerName}
        </if>

        limit ${start},${length}
    </select>
</mapper>