<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="live.itrip.admin.dao.EduStaffInfoMapper">
    <resultMap id="BaseResultMap" type="live.itrip.admin.model.EduStaffInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="client_id" property="clientId" jdbcType="INTEGER"/>
        <result column="shop_no" property="shopNo" jdbcType="VARCHAR"/>
        <result column="staff_no" property="staffNo" jdbcType="VARCHAR"/>
        <result column="staff_type" property="staffType" jdbcType="CHAR"/>
        <result column="staff_name" property="staffName" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="CHAR"/>
        <result column="birthday" property="birthday" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="client_create_time" property="clientCreateTime" jdbcType="BIGINT"/>
        <result column="client_update_time" property="clientUpdateTime" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, client_id, shop_no, staff_no, staff_type, staff_name, mobile, sex, birthday, 
    address, client_create_time, client_update_time,status, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from edu_staff_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from edu_staff_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="live.itrip.admin.model.EduStaffInfo">
    insert into edu_staff_info (id, client_id, shop_no, 
      staff_no, staff_type, staff_name, 
      mobile, sex, birthday, 
      address, client_create_time, client_update_time, status,
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{clientId,jdbcType=INTEGER}, #{shopNo,jdbcType=VARCHAR}, 
      #{staffNo,jdbcType=VARCHAR}, #{staffType,jdbcType=CHAR}, #{staffName,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, #{birthday,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{clientCreateTime,jdbcType=BIGINT}, #{clientUpdateTime,jdbcType=BIGINT}, 
      #{status,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT})
  </insert>
    <insert id="insertSelective" parameterType="live.itrip.admin.model.EduStaffInfo">
        insert into edu_staff_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="clientId != null">
                client_id,
            </if>
            <if test="shopNo != null">
                shop_no,
            </if>
            <if test="staffNo != null">
                staff_no,
            </if>
            <if test="staffType != null">
                staff_type,
            </if>
            <if test="staffName != null">
                staff_name,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="clientCreateTime != null">
                client_create_time,
            </if>
            <if test="clientUpdateTime != null">
                client_update_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="clientId != null">
                #{clientId,jdbcType=INTEGER},
            </if>
            <if test="shopNo != null">
                #{shopNo,jdbcType=VARCHAR},
            </if>
            <if test="staffNo != null">
                #{staffNo,jdbcType=VARCHAR},
            </if>
            <if test="staffType != null">
                #{staffType,jdbcType=CHAR},
            </if>
            <if test="staffName != null">
                #{staffName,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=CHAR},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="clientCreateTime != null">
                #{clientCreateTime,jdbcType=BIGINT},
            </if>
            <if test="clientUpdateTime != null">
                #{clientUpdateTime,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="live.itrip.admin.model.EduStaffInfo">
        update edu_staff_info
        <set>
            <if test="clientId != null">
                client_id = #{clientId,jdbcType=INTEGER},
            </if>
            <if test="shopNo != null">
                shop_no = #{shopNo,jdbcType=VARCHAR},
            </if>
            <if test="staffNo != null">
                staff_no = #{staffNo,jdbcType=VARCHAR},
            </if>
            <if test="staffType != null">
                staff_type = #{staffType,jdbcType=CHAR},
            </if>
            <if test="staffName != null">
                staff_name = #{staffName,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=CHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="clientCreateTime != null">
                client_create_time = #{clientCreateTime,jdbcType=BIGINT},
            </if>
            <if test="clientUpdateTime != null">
                client_update_time = #{clientUpdateTime,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="live.itrip.admin.model.EduStaffInfo">
        update edu_staff_info
        set client_id = #{clientId,jdbcType=INTEGER},
          shop_no = #{shopNo,jdbcType=VARCHAR},
          staff_no = #{staffNo,jdbcType=VARCHAR},
          staff_type = #{staffType,jdbcType=CHAR},
          staff_name = #{staffName,jdbcType=VARCHAR},
          mobile = #{mobile,jdbcType=VARCHAR},
          sex = #{sex,jdbcType=CHAR},
          birthday = #{birthday,jdbcType=VARCHAR},
          address = #{address,jdbcType=VARCHAR},
          client_create_time = #{clientCreateTime,jdbcType=BIGINT},
          client_update_time = #{clientUpdateTime,jdbcType=BIGINT},
          status = #{status,jdbcType=VARCHAR},
          create_time = #{createTime,jdbcType=BIGINT},
          update_time = #{updateTime,jdbcType=BIGINT}
        where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateClientIdAndShopNo" parameterType="live.itrip.admin.model.EduStaffInfo">
        update edu_staff_info
        set staff_no = #{staffNo,jdbcType=VARCHAR},
        staff_type = #{staffType,jdbcType=CHAR},
        staff_name = #{staffName,jdbcType=VARCHAR},
        mobile = #{mobile,jdbcType=VARCHAR},
        sex = #{sex,jdbcType=CHAR},
        birthday = #{birthday,jdbcType=VARCHAR},
        address = #{address,jdbcType=VARCHAR},
        client_update_time = #{clientUpdateTime,jdbcType=BIGINT},
        status = #{status,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=BIGINT}
        where client_id = #{clientId,jdbcType=INTEGER} AND shop_no = #{shopNo,jdbcType=VARCHAR}
    </update>


    <!--自定义查询-->
    <select id="countAll" resultType="int" parameterType="map">
        select count(id) from edu_staff_info WHERE TRUE

        <if test="shopNo != null and shopNo != '' ">
            AND shop_no = '${shopNo}'
        </if>
        <if test="staffName != null and staffName != '' ">
            AND staff_name LIKE ${staffName}
        </if>

    </select>
    <select id="selectStaffList" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from edu_staff_info WHERE TRUE

        <if test="shopNo != null and shopNo != '' ">
            AND shop_no = '${shopNo}'
        </if>
        <if test="staffName != null and staffName != '' ">
            AND staff_name LIKE ${staffName}
        </if>

        limit ${start},${length}
    </select>
</mapper>