<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="live.itrip.admin.dao.EduSwipeCardRecordsMapper">
    <resultMap id="BaseResultMap" type="live.itrip.admin.model.EduSwipeCardRecords">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="shop_no" property="shopNo" jdbcType="VARCHAR"/>
        <result column="card_no" property="cardNo" jdbcType="VARCHAR"/>
        <result column="client_create_time" property="clientCreateTime" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, shop_no, card_no, client_create_time, create_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from edu_swipe_card_records
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from edu_swipe_card_records
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="live.itrip.admin.model.EduSwipeCardRecords">
    insert into edu_swipe_card_records (id, shop_no, card_no, 
      client_create_time, create_time)
    values (#{id,jdbcType=BIGINT}, #{shopNo,jdbcType=VARCHAR}, #{cardNo,jdbcType=VARCHAR},
      #{clientCreateTime,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT})
  </insert>
    <insert id="insertSelective" parameterType="live.itrip.admin.model.EduSwipeCardRecords">
        insert into edu_swipe_card_records
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="shopNo != null">
                shop_no,
            </if>
            <if test="cardNo != null">
                card_no,
            </if>
            <if test="clientCreateTime != null">
                client_create_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="shopNo != null">
                #{shopNo,jdbcType=VARCHAR},
            </if>
            <if test="cardNo != null">
                #{cardNo,jdbcType=VARCHAR},
            </if>
            <if test="clientCreateTime != null">
                #{clientCreateTime,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="live.itrip.admin.model.EduSwipeCardRecords">
        update edu_swipe_card_records
        <set>
            <if test="shopNo != null">
                shop_no = #{shopNo,jdbcType=VARCHAR},
            </if>
            <if test="cardNo != null">
                card_no = #{cardNo,jdbcType=VARCHAR},
            </if>
            <if test="clientCreateTime != null">
                client_create_time = #{clientCreateTime,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="live.itrip.admin.model.EduSwipeCardRecords">
    update edu_swipe_card_records
    set shop_no = #{shopNo,jdbcType=VARCHAR},
      card_no = #{cardNo,jdbcType=VARCHAR},
      client_create_time = #{clientCreateTime,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>


    <!--自定义查询-->
    <select id="countAll" resultType="int" parameterType="map">
        select count(id) from edu_swipe_card_records WHERE TRUE

        <if test="shopNo != null and shopNo != '' ">
            AND shop_no = '${shopNo}'
        </if>
        <if test="cardNo != null and cardNo != '' ">
            AND card_no = '${cardNo}'
        </if>

    </select>
    <select id="selectSwipeCardList" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from edu_swipe_card_records WHERE TRUE

        <if test="shopNo != null and shopNo != '' ">
            AND shop_no = '${shopNo}'
        </if>
        <if test="cardNo != null and cardNo != '' ">
            AND card_no = '${cardNo}'
        </if>

        limit ${start},${length}
    </select>
</mapper>